<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <typeAlias type="com.future.practice.global.entity.User" alias="User"/>
        <typeAlias type="com.future.practice.global.entity.Board" alias="Board"/>
        <typeAlias type="com.future.practice.global.entity.Comment" alias="Comment"/>
        <typeAlias type="com.future.practice.global.entity.BigComment" alias="BigComment"/>

    </typeAliases>

</configuration>