<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>
        <style>
            @media(max-width:767px) {
                .navbar .navbar-form {
                    width: 185px;
                    padding-left:0;
                    padding-right:0;
                }
            }
            @media(min-width:768px) {
                .navbar .navbar-form {
                    width: 250px;
                }
            }
            .navbar .navbar-form {
                padding-top: 0;
                padding-bottom: 0;
                margin-right: 0;
                margin-left: 0;
                border: 0;
                -webkit-box-shadow: none;
                box-shadow: none;
            }
            .mainTable{
                margin-top: 2%;
            }
            th, td{
                text-align: center;
            }
        </style>
    </head>
    <body class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/main">future</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <form id="search" class="form-inline my-2 my-lg-0" onsubmit="return false">
                        <input v-model = "searchData" class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search">
                        <button @click="getSearch()" id="searchSubmit" class="btn btn-outline-success my-2 my-sm-0" onsubmit="return false">Search</button>
                    </form>
                </ul>
                <ul class="navbar-nav">
                    <!--나중에 세션 관리 해야됨-->
                    <li th:if="${session.user == null}" class="nav-item"><a class="nav-link" href="/login">로그인</a></li>
                    <li th:if="${session.user == null}" class="nav-item"><a class="nav-link" href="/sign">회원가입</a></li>
                    <li th:if="${session.user != null}" class="nav-item"> <a class="nav-link" href="/myPage">회원변경</a> </li>
                    <li th:if="${session.user != null}" class="nav-item"> <a class="nav-link" href="/logout">로그아웃</a> </li>
                </ul>
            </div>
        </nav>
          <div id="mainBoard" style="width: 80%; margin: auto; margin-top: 2%;">
            <board-detail :title="titleData" :content="contentData" :modified="modifiedAtData" :user="userEmailData"></board-detail>
            <hr>
            <h3>댓글</h3>
            <hr>
            <div id="comment">
                <div class="card" v-for='(item2, index2) in comments' v-bind:key = "item2.commentSeq" >
                    <div class="card-header">
                        <span>회원 : {{ item2.comment.commentUserEmail }} </span><small style="float: right;"> 날짜 : {{ item2.comment.commentModifiedAt.replace("T",":")}}</small>
                    </div>
                    <div class="card-body">
                        <div style="float: left; width: 70%; margin-bottom: 30px"  ><span  class="card-text"> {{ item2.comment.commentContent }}</span></div>
                        <button @click="getCommentDelete(item2.comment.commentSeq)" style="float: right;" type="button" class="btn btn-default commentDelete"> 삭제 <span class="glyphicon glyphicon-share-alt"></span></button>
                        <input style="visibility: hidden; display: none;" type="text" value="">
                        <button @click = "getCommentAnswer(index2)" style="float: right;" type="button" class="btn btn-default commentAnswer"> 답장 <span class="glyphicon glyphicon-share-alt"></span></button>
                        <div ref="commentAnswer" class="commentAnswer" style="visibility: hidden; display: none">
                            <hr style="padding: 0px;clear:both;"/>
                            <input v-model="insertBigComment" style="width:80%; float: left;" type="text" class="form-control" id="answerData" name="comment" aria-describedby="emailHelp">
                            <button @click="getBigCommentInsert(item2.comment.commentSeq)" style="float: right;"type="submit" class="btn btn-primary answerButton">Submit</button>
                            <input  style="visibility: hidden; display: none;" type="text" value="">
                        </div>
                    </div>
                    <hr style="clear:both">
                    <div v-for='(item3, index3) in item2.bigComments' class="card-body">
                        <div style="float: left; width: 70%;" >
                            <span  class="card-text">ㄴ 댓글 {{ item3.bigCommentContent }}</span>
                            <p><span style='font-size: small'> 작성자 {{ item3.bigCommentUserEmail }} 날짜 {{item3.bigCommentModifiedAt.replace("T",":")}}</span></p>
                        </div>
                        <button @click="getBigCommentDelete(item3.bigCommentSeq)" style="float: right;" type="button" class="btn btn-default bigCommentDelete"> 삭제 <span class="glyphicon glyphicon-share-alt"></span></button>
                        <input style="visibility: hidden; display: none;" type="text" value="hhh" >
                    </div>
                </div>

            </div>
            <hr>

            
              <input v-model="insertComment" style="width:90%; float: left;" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <button @click="getCommentSubmit()" style="float: right;" class="btn btn-primary" id="commentSubmit">Submit</button>
          </div>
    </body>
    <script>
        function searchParam(key) {
            return new URLSearchParams(location.search).get(key);
        };
        Vue.component("board-detail",{
            props : ["title", "content", "modified", "user"],
            template :
                "<div id=\"board\">\n" +
                "                <h3> {{ title }}</h3>\n" +
                "                <span>작성자 : {{ user }}</span> <span>날짜: {{ modified }}</span>\n" +
                "                <hr>\n" +
                "                <p>{{ content }}</p>\n" +
                "                <button @click= \"getBoardDelete()\" id=\"boardDelete\" type=\"button\" class=\"btn text-white\" style=\"background-color: red;float: right; margin-left: 5px\"> 삭제하기 <span class=\"glyphicon glyphicon-share-alt\"></span></button>\n" +
                "                <a @click= \"getBoardUpdate()\" ><button type=\"button\" class=\"btn text-white\" style=\"background-color: green;float: right\">수정하기</button></a>\n" +
                "            </div>",
            methods :{
                getBoardUpdate : function (){
                    location.href='boardUpdate?board_seq='+searchParam("board_seq")
                },
                getBoardDelete : function (){
                    $.ajax({
                        type : "DELETE",
                        url : "/v1/board/"+searchParam("board_seq"),
                        dataType: 'json',
                        success : function(data){
                            alert(data.message)
                            location.href="/main";
                        },
                        error : function (data){
                            alert(data.responseJSON.message)
                        }
                    })
                }
            }
        })
        var mainBoard = new Vue({
            el : '#mainBoard',
            data: {
                titleData : "",
                contentData : "",
                modifiedAtData : "",
                userEmailData : "",
                comments : [],
                styleObject : {
                    visibility : 'hidden',
                    display : 'none'
                }
            },
            props: ['insertComment', 'insertBigComment'],
            mounted: function(){
                var _this = this;
                _this.getBoard();
            },
            methods: {
                getBoard : function () {
                    var _this = this;
                    $.ajax({
                        type : "GET",
                        url : "/v1/board/"+searchParam("board_seq"),
                        dataType: 'json',
                        success : async function(data){
                            mainBoard.comments = data.commentAll;
                            _this.comments = data.commentAll;
                            mainBoard.titleData = data.board.boardTitle;
                            mainBoard.contentData = data.board.boardContent;
                            mainBoard.modifiedAtData = data.board.boardModifiedAt;
                            mainBoard.userEmailData = data.board.boardUserEmail;
                        },
                        error : function (data){
                            alert(data.responseJSON.message)
                        }})
                },
                getCommentSubmit : function () {
                    var formData = {
                        'content' : this.insertComment
                    }
                    $.ajax({
                        type : "POST",
                        url : "/v1/board/"+searchParam("board_seq")+"/comment",
                        data : formData,
                        dataType: 'json',
                        success : function(data) {
                            alert(data.message)
                            location.href = "/mainDetail?board_seq="+searchParam("board_seq");
                        },
                        error : function (data){
                            alert(data.responseJSON.message)
                        }
                    })
                },
                getCommentAnswer : function (index){
                    this.$refs.commentAnswer[index].style.visibility = 'visible'
                    this.$refs.commentAnswer[index].style.display = ''
                },
                getBigCommentInsert : function (seq){
                        var formData = {
                            'content' : this.insertBigComment
                        }
                        $.ajax({
                            type : "POST",
                            url : "/v1/comment/"+seq,
                            data : formData,
                            dataType: 'json',
                            success : function(data){
                                alert(data.message)
                                location.href="/mainDetail?board_seq="+searchParam("board_seq");
                            },
                            error : function (data){
                                alert(data.responseJSON.message)
                            }
                        })
                },
                getCommentDelete : function (seq){
                    $.ajax({
                        type : "DELETE",
                        url : "/v1/comment/"+seq ,
                        dataType: 'json',
                        success : function(data) {
                            alert(data.message)
                            location.href = "/mainDetail?board_seq="+searchParam("board_seq");
                        },
                        error : function (data){
                            alert(data.responseJSON.message)
                        }
                    })
                },
                getBigCommentDelete : function (seq){
                    $.ajax({
                        type : "DELETE",
                        url : "/v1/bigComment/"+seq ,
                        dataType: 'json',
                        success : function(data) {
                            alert(data.message)
                            location.href = "/mainDetail?board_seq="+searchParam("board_seq");
                        },
                        error : function (data){
                            alert(data.responseJSON.message)
                        }
                    })
                }
            }
        })

        var searchPage = new Vue({
            el : '#search',
            props : ['searchData'],
            methods: {
                getSearch : function () {
                    var _this = this;
                    $.ajax({
                        type : "GET",
                        url : "/v1/board?search="+this.searchData,
                        dataType: 'json',
                        success : function(data){
                            location.href="/main?search="+_this.searchData
                        },
                        error : function (data){
                            alert(data.responseJSON.message)
                        }
                    })
                }
            }
        })
    </script>

</html>
